{% extends 'base.html' %}

{% block content %}

<div>
    <h1>About</h1>
    <div class="into">
        <h2>Introduction</h2>
        <p>This website allows visitors to create an account, sign in, Sign
         out, and delete their account. Once they have created an account, 
        they can search for recipes and generate meal plans for the week
        or for the day. The website uses the Spoonacular API to integrate 
        with Spoonacular's recipe database.</p>
    </div>
    <div class="features">
        <h2>Features</h2>
        <p>The website uses the following features:</p>
        <ul>
            <li>User registration and authentication (password hashing)</li>
            <li>Recipe Search</li>
            <li>Meal plan generation</li>
            <li>Spoonacular API integration</li>
        </ul>
    </div>
    <div class="stack">
        <h2>Technology Stack</h2>
        <p>The website was built with the following technologies: </p>
        <ul>
            <li>Flask: A Python web framework</li>
            <li>WTForms: A Python form library</li>
            <li>Python: Back-end development</li>
            <li>jQuery: A JavaScript library</li>
            <li>PostgreSQL: A relational database management system (RDBMS)</li>
            <li>JavaScript: Connect front-end with back-end</li>
            <li>HTML & CSS: Front-end development</li>
            <li>SQLAlchemy: SQL toolkit for Python</li>
            <li>Jinja2: Template engine for Python</li>
        </ul>
    </div>
    <div class="challenges">
        <h2>Challenges</h2>
        <p>Some of the challenges that I faced while building the website
            included: 
        </p>
        <ul>

        </ul>
    </div>
    <div class="conclusion">
        <h2>Conclusion</h2>
        <p>I am proud of the work that I did on this website. It was a
            challenging project, but I learned a lot and I am happy with the 
            results. I believe that this website is a valueable resource for
            anyone who wants to eat healthier and spend less time planning.
        </p>
    </div>
</div>

{% endblock %}